<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Book!</title>
</head>
<body>
<form th:action="@{/book/search}" method='POST'>
    <label>Search:
        <label>Title <input type='radio' name='type' value="title"></label><br />
        <label>Author <input type='radio' name='type' value="author"></label><br />
        <input type='text' name='keyword'><br />
        <input type='submit'>
    </label>
</form>

<div th:replace="fragments/menu-fragment :: menu-fragment"></div>
</body>
</html>